@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+CO+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+CO+Guides&family=Playwrite+DE+SAS+Guides&family=Playwrite+TZ+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --primary-color: #183b56;
    --seconday-text-color: #577592;
    --accent-color: #63cfbf;
    --accent-color-dark: #1d69a3;
}
body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-color);
    overflow-x: hidden;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;  
}
h3 {
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    display: inline-block;
    color: var(--seconday-text-color);
    font-size: 0.8rem;
}
ul {
    list-style: none;
}
/* utility-class */
.flex {
    display: flex;
    align-items: center;
}
.container {
    max-width: 1580px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
.primary-button {
    background-color: var(--accent-color);
    border-radius: 20px;
    padding: 10px;
    color: black;
    box-shadow: 4px 4px 1px var(--primary-color);
}
.secondary-button {
    background-color: var(--accent-color);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 4px 4px 1px var(--primary-color);
}
.primary-button:hover {
    transition: 0.5s ease-in;
    color: black !important;
    box-shadow: none;
}
.secondary-button:hover {
    color: black !important;
    box-shadow: none;
    transition: 0.5s ease-in;
}
.hover-links:hover {
    color: var(--accent-color);
}
/* nav-bar */
.company-logo img {
    width: 200px;
    
}
.nav-toggle {
    display: none;
}
.nav-bar {
    justify-content: space-between;
    padding: 20px;
    /* background-color: #ffe5d8; */

}
.nav-links ul {
    justify-content: end;
    gap: 20px;
}
/* hero section */
.hero-section {
    background-image: url(assets2/background.jpg);
    max-width: 100%;
    height: 800px;
    background-size:cover;
}
.hero-header {
    flex-direction: column;
    gap: 15px;
}
.hero-header p {
    font-size: 1rem;;
    color: black;
}
.hero-header h1 {
    font-family: ui-monospace;
    font-size: 5rem;
    max-width: 800px;
    text-align: center;
    color: black;
}

/* hero-section */
.features-section {
    overflow: hidden;
    width: 100%;
    position: relative;

}
.feature-head {
    text-align: center; 
    margin-top: 20px;  
    font-family: "Lato", serif;  
    font-style: italic;
}
.features-collection {
    margin-top: 20px;
    justify-content: start;
    gap: 100px;
    animation: scroll 20s linear infinite alternate ;
}
.features-collection img{
    width: 150px;
    height: 50px;  
}
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
.my-guide {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-image: url(assets2/asset\ 37.png),  url(assets2/asset\ 38.png);
    background-size: cover;
    background-color: #ecc04e;
    position: fixed;
    bottom: 25px;
    left: 15px;
    box-shadow: 2px 4px 1px black;
    cursor: pointer;
}
.chat {
    height: 250px;
    width: 140px;
    border: 1px solid black;
    border-radius: 10px;
    background-image: red;
    position: fixed;
    bottom: 25px;
    right: 15px;
    background-color: white;
}
.chat-top {
    height: 200px;
    background-image: url(assets2/download.png);
    background-size: cover;
}
.chat-bottom {
    border-top: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 45px;
}
.chatting {
    width: 80px;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.chatting a{
    color: black;
    font-size: 0.8rem;
}
.content-section {
    background-color: #FAF5E8;;
    padding: 60px;
    margin-top: 30px;
}
.container-section {
    background-color: white;
    padding-bottom: 60px;
}
.top-content {
    text-align: center;
}
.top-content h2 {
    max-width: 350px;
    color: black;
    margin: 0px auto;
    margin-top: -30px;
    margin-bottom: 20px;
}
.top-content img {
    position: relative;
    top: -30px;
}
.bottom-content {
    justify-content: center;
    flex-wrap: wrap;
}
.bottom-content-left {
    max-width: 50%;
}
.bottom-content-right {
    max-width: 50%;
}
.bottom-content-right img{
    width: 100%;
    height: 25%;
    background-size: cover;
    border-radius: 10px;
}
.big-features {
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    padding: 60px;
    gap: 40px;
}
.big-feature-left {
    width: 50%px;
}
.big-feature-right {
    width: 50%;
}
.big-feature-left img {
    max-width: 100%; 
}
.big-feature-right p {
    margin-bottom: 20px;
    max-width: 100%;
}
.big-feature-right h3 {
    color: black;
    margin-bottom: 20px;
}
.big-feature-section-2 {
    flex-direction: row-reverse;
}

.planning-section {
    background-color: RGB(252, 239, 207);
    margin: 20px 200px;
    border-radius: 20px;
    gap: 40px;
}
.planning-section-image {
    width: 100%;
    height: 400px;
}
.planning-section-image img {
    animation: rotate 10s linear infinite;
    margin-left: 80px;
    margin-top: 10px
}
.planning-section-header h2 {
    color: black;
    margin-bottom: 10px;
}
.planning-section-header p {
    margin-bottom: 10px;
}
.planning-section-header a {
    margin-right: 20px;
}
@keyframes rotate {
    0% {
        transform: translate(0);
    }
    25% {
        transform: translate(20px);
    }
    50% {
        transform: translate(20px, 40px);
    }
    75% {
        transform: translate(-20px, 40px);
    }
    100% {
        transform: translate(0px);
    }
}
.footer-content a {
    display: block;
}
footer {
    margin-top: 90px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: start;
}
.footer-content {
    height: 500px;
    width: 200px;
}

.footer-content-1 h5{
    max-width: 150px;
    margin: 10px 0px;
}
.footer-content h4 {
    font-style: italic;
    font-family: cursive;
    font-size: 1.2rem;
}
.footer-content-1 a {
    width: 200px;
    margin: 20px 0px;
}
.footer-content img {
    width: 170px;
    margin-bottom: 10px;
} 
.footer-content li, h4, a {
    color: black;
    margin-bottom: 10px;
}
.footer-content li {
    font-size: 0.8rem;
}
.footer-content-4 a{
    display: inline;
}
hr {
    margin: 8px 0px;
}
.footer-button {
    margin-bottom: 10px;
    justify-content: start;
    align-items: center;
    align-content: center;
    gap: 15px;
}

.sub-footer {
    font-size: 0.7rem;
    padding: 0px 40px;
    color: black; 
    margin-bottom: 20px;
    text-align: center;
}
.sub-footer a {
    font-size: 0.7rem;
}
.underline-hover {
    position: relative;
    display: inline-block;
    text-decoration: underline;
}

.underline-hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;;
    height: 2px; /* Adjust the height of the underline */
    background-color: #908b8b; /* Color of the underline */
    transition:  0.4s ease-in-out; /* Controls animation speed */
}
.underline-hover:hover {
    text-decoration: none;
    color: #908b8b;
}
.underline-hover:hover::after {
    width: 100%; /* Expand underline on hover */
}
